body {
    margin: 0;
    font-family: sans-serif;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blueviolet;
    background-image: url(https://images.pexels.com/photos/1251026/pexels-photo-1251026.jpeg?cs=srgb&dl=pexels-crusenho-agus-hennihuno-1251026.jpg&fm=jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    padding: 0;
}

.hero h1 {
    font-size: 3em;
}