body {
    font-family: sans-serif;
    margin: 0;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/348689/pexels-photo-348689.jpeg?cs=srgb&dl=pexels-jatuphon-buraphon-348689.jpg&fm=jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
}

ul {
    list-style-type: none;
    padding: 0;
}

.hero h1 {
    font-size: 3em;
}
.hero ul {
    display: flex;
    justify-content: space-evenly;
}
.hero button {
    padding: 15px 30px;
    border-color: white;
    background-color:transparent;
    color: antiquewhite;
    border-radius: 8px;
    font-size: large;
}
main {
    margin: 1vw;
}